@page "/account/{name}"
@using Banksystem



@if (SelectedAccount == null)
{
    <p>No account '@AccountName' found</p>
    <p>And there are @Bank.Accounts.Count() accounts</p>
}
else
{
    <h1>Welcome @name, @SelectedAccount.Owner.Lastname</h1>

    <h1>@AccountName</h1>
    <p>Current Balance: @SelectedAccount.Owner.Balance</p>
    <label>Deposit Amount
        <input @bind=depositAmount />
    </label>
    <button @onclick="makeDeposit">Make Deposit</button>
    <button @onclick="Withdraw">withdrawn</button>


    <h2>Account Information</h2>


    <p>Name: @SelectedAccount.Owner.Name</p>
    <br>
    <p>Lastname: @SelectedAccount.Owner.Lastname</p>
    <br>
    <p>Balance: @SelectedAccount.Owner.Balance</p>
    <br>
    <p>Birhtdate:</p>
    <br>
    <p>Day: @SelectedAccount.Owner.Birthdate.Day</p>
    <br>
    <p>Month: @SelectedAccount.Owner.Birthdate.Month</p>
    <br>
    <p>Year: @SelectedAccount.Owner.Birthdate.Year</p>
    <br>
}



@code {
    [Parameter]
    public string name { get; set; }
    public string lastname { get; set; }
    public string AccountName { get; set; }
    int day;
    int Month;
    int Year;

    decimal depositAmount;
    public Banksystem.Account SelectedAccount;

    protected override void OnInitialized()
    {
        if (Bank.Accounts.Count > 0)
        {
            foreach (var customer in Bank.Accounts)
            {
                if (customer.Owner.Name == name)
                {
                    SelectedAccount = customer;
                    break;
                }
            }

        }
        Bank.LoadAccounts();

    }

    void makeDeposit()
    {
        SelectedAccount.Owner.MakeDeposit(depositAmount);

        Bank.SaveAccounts();
    }
    void Withdraw()
    {
        SelectedAccount.Owner.Withdrawn(depositAmount);

        Bank.SaveAccounts();
    }

}