@page "/account/{name}"
@using Banksystem

@using System.Linq;



@if (SelectedAccount == null)
{
    <p>No account '@AccountName' found</p>
    <p>And there are @Bank.Accounts.Count() accounts</p>
}
else
{
    <h1>Welcome @name, @SelectedAccount.Owner.Lastname</h1>


    @foreach (var item in from a in Bank.Accounts
                         select new
                         {
                             Name = a.Owner.Name,
                             Balance = a.Owner.CheckingBalance
                             //Balance = a.Owner.CheckingBalance,
                         })
    {
        <span> Current Checkingbalance: @item.Balance </span><br />
    }
    @if (SelectedAccount.Owner.savingaccount == true)
    {
        <br>
        <p>Current Savingbalance: @SelectedAccount.Owner.SavingBalance</p>
        <label>Deposit Amount
            <input @bind=TransferMoney />
        </label>
        <button @onclick="TransferMoneyToSaving">Transfer to Saving</button>
        <button @onclick="TransfertMoneyToChecking">Transfer to Checking</button><br>
    }
    <label>Deposit Amount
        <input @bind=depositAmount />
    </label>
    <button @onclick="makeDeposit">Make Deposit</button>
    <button @onclick="Withdraw">withdrawn</button>


    <h2>Account Information</h2>


    <p>Name: @SelectedAccount.Owner.Name</p>
    <p>Lastname: @SelectedAccount.Owner.Lastname</p>
    <p>Balance: @SelectedAccount.Owner.CheckingBalance</p>
    <p>Birhtdate:</p>
    <p>Day: @SelectedAccount.Owner.Birthdate.Day</p>
    <p>Month: @SelectedAccount.Owner.Birthdate.Month</p>
    <p>Year: @SelectedAccount.Owner.Birthdate.Year</p>
    <p>Savingaccount: @SelectedAccount.Owner.savingaccount</p>
}

@if (SelectedAccount.Owner.savingaccount == false)
{
    <button @onclick="Createsavingaccount">Create Savingaccount</button>
}


@log

<h3>Activities:</h3>





@foreach (var log in customerLogs)
{

    @log
    <br>
}


@code
{
    [Parameter]
    public string name { get; set; }
    public string lastname { get; set; }
    public string AccountName { get; set; }
    int day;
    int Month;
    int Year;
    string log;
    bool Savingaccount;
    decimal savingbalance = 0;
    IEnumerable<string> customerLogs;

    decimal depositAmount;
    decimal TransferMoney;
    public Banksystem.Account SelectedAccount;

    protected override void OnInitialized()
    {
        if (Bank.Accounts.Count > 0)
        {
            foreach (var customer in Bank.Accounts)
            {
                if (customer.Owner.Name == name)
                {
                    SelectedAccount = customer;
                    break;
                }
            }

        }
        Bank.LoadAccounts();
        logging.LoadLog();
        customerLogs = from log in logging.logs
                       where log.Contains(SelectedAccount.Owner.Name)
                       select log;
    }

    void Createsavingaccount()
    {
        SelectedAccount.Owner.savingaccount = true;
        SelectedAccount.Owner.MakeSavingAccount();
        Bank.SaveAccounts();
    }
    void makeDeposit()
    {
        SelectedAccount.Owner.MakeDeposit(depositAmount);
        Bank.SaveAccounts();
    }
    void Withdraw()
    {
        SelectedAccount.Owner.Withdrawn(depositAmount);
        Bank.SaveAccounts();
        logging.Savelog();
    }
    void TransferMoneyToSaving()
    {
        SelectedAccount.Owner.TransferMoneyFromCheckingToSaving(TransferMoney);
        Bank.SaveAccounts();
        logging.Savelog();
    }
    void TransfertMoneyToChecking()
    {
        SelectedAccount.Owner.TransferMoneyFromCheckingToSaving(TransferMoney);
        Bank.SaveAccounts();
        logging.Savelog();
    }

}